{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src",
          "./"
        ],
        "alias": {
          "layout": "./src/components/layout",
          "atoms": "./src/components/atoms",
          "localization": "./src/static/localization"
        }
      }
    ]
  ]
}
